<div>
<p>hello on as crée une page html demo.</p>
</div>
<div>
    {{maVariable}}
</div>




<div class="container">
    <form>
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" ng-model='person.nom'></input>
        </div>
        <div class="form-group">
            <label>Prenom</label></br>
            <input type="text" class="form-control" ng-model='person.prenom'></input>
        </div>
        <div class="form-group">
            <label>Age</label></br>
            <input type="number" class="form-control" ng-model='person.age'></input>
        </div>

    </form>
    <p> Bonjour je m'appelle {{person.nom+" "+person.prenom+" "+person.age+" ans"}} c'est qui fait {{person.age*12}} en mois
    </p>

    <p> {{person.age | yearToMonth}} </p>
    {{ person | json : spacing}}
    {{person.nom | uppercase }} 
    <anne value ="person.age"></anne>
</div>


<div  ng-controller="DemoCtrl" >
<table class="table">
    <thead>
        <tr class="warning">
            <th>Firstname</th>
            <th>phone</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="friend in friends | orderBy :'-age'" class="success">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
            <td>{{friend.age}}</td>
        </tr>

    </tbody>
</table>
<button ng-model ="order">par nom </button>
</div>
